---
import { astroI18n } from "astro-i18n";
---

<label for="language-switcher">Language</label>
<select id="language-switcher" class="ml-2" onchange="switchLang()">
  {
    Object.entries(astroI18n.locales).map(([id, lang]) => (
      <option value={lang} selected={lang === astroI18n.locale}>
        {lang}
      </option>
    ))
  }
</select>
<script is:inline>
  console.log("loaded language switcher");
  const localePath = (path, locale) => {
    const prefix = locale === "ja" ? "" : `/${locale}`;
    if (path.split("/")[1] === "en") {
      return prefix + "/" + path.split("/").slice(2).join("/");
    } else {
      if (path === "/") return prefix;
      return prefix + path;
    }
  };
  const switchLang = () => {
    const lang = document.querySelector("#language-switcher").value;
    window.location.href = localePath(window.location.pathname, lang);
  };
</script>
